@model IEnumerable<PersonResponse>

@{
    Layout = null;
}

<h1>Persons Details</h1>

<link href="@("http://"+ Context.Request.Host.ToString() + "/StyleSheet.css")" rel="stylesheet" />
<h1>Persons</h1>


<table class="table w-100 mt">
    <thead>
        <tr>
            <th>PersonName</th>
            <th>Email</th>
            <th>DateOfBirth</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Address</th>
            <th>ReceiveNewsLetter</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                <td style="width:15%">@person.PersonName</td>
                <td style="width:18%">@person.Email</td>
                <td style="width:13%">@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
                <td style="width:5%">@person.Age</td>
                <td style="width:9%">@person.Gender</td>
                <td style="width:10%">@person.Country</td>
                <td style="width:14%">@person.Address</td>
                <td style="width:22%">@person.ReceiveNewsLetter</td>
            </tr>
        }
    </tbody>
</table>
